body {
  background: #f6f8fb;
}

.book-cover {
  height: 220px;
  object-fit: cover;
}

.edit-cover {
  width: 110px;
  height: 150px;
  object-fit: cover;
}

input,
textarea,
select {
  width: 100%;
}
